%h1 Dear,
%h1= @user.name
%p Thank for using our service
%p The product will be delivered to you in the next few days and info of product is below
%span Sum price
%h2= estimate_price(@cart.cart_products).to_s  + 'đ'
.checkout-one-step.col-md-offset-1
  .checkout-one-step-content
    %h2 Products
    %h2#border-lr Info
  .list-product
    .content-list-product
      .list-product
        - @cart.cart_products.includes(:product).order(updated_at: :desc).each do |cart_product|
          .row-shopping-cart-item
            .group-image-price
              .content-product
                %h4= cart_product.product.name
                %br
              .content-price
                - if cart_product.product.discount_price.nil?
                  %span.price#content-price
                    %span.price-num= cart_product.product.price
                    %span.price-num đ/product
                - if !cart_product.product.discount_price.nil?
                  %span.price#content-price
                    %span.price-num= cart_product.product.discount_price
                    %span.price-num đ/product
              .num-products
                %span
                  Nuber of product:
                  = cart_product.quantity
                %br
                %span
                  Sub price
                  %span
                    - if cart_product.product.discount_price.nil?
                      %span#sub-price-num= cart_product.product.price * cart_product.quantity
                      %span.price-num#sub-price-num đ
                    - else
                      %span#sub-price-num= cart_product.product.discount_price * cart_product.quantity
                      %span.price-num#sub-price-num đ
