.container.nav.col-md-offset-4
  %p#notice= notice

  %p
    %b Name:
    = @customer.name
  %p
    %b Email:
    = @customer.email
  %p
    %b Phone number:
    = @customer.phone_number
  %p
    %b Birth date:
    = @customer.birth_date
  %p
    %b Sex:
    - if @customer.sex == 1
      men
    - else
      girl
  = link_to 'Edit', edit_customer_path(@customer)
  \|
  = link_to 'Back', root_path
