= form_for(@product) do |f|
  = render 'shared/error_messages', object: f.object
  .div
    = f.text_field :name
    = f.text_field :price
    = f.text_area :description, placeholder: 'Compose description for product...', class: 'form-control'
  = f.submit "Post", class: "btn btn-primary"
