%h1.col-md-offset-5 Update product
.row
  .col-md-4.col-md-offset-4
    = form_for(@product, url: admin_product_path) do |f|
      = render 'shared/error_messages', object: f.object
      %div
        = f.label :name
        = f.text_field :name, placeholder: 'Enter name of product...', class: 'form-control'
        = f.label :author
        = f.text_field :author, placeholder: 'Who is author?', class: 'form-control'
        = f.label :publisher
        = f.text_field :publisher, placeholder: 'Which is publisher?', class: 'form-control'
        = f.label :price
        = f.number_field :price, placeholder: 'How much is it?', class: 'form-control'
        = f.label :discount_price
        = f.number_field :discount_price, placeholder: 'How much is the discounted product?', class: 'form-control'
        = f.label :description
        = f.text_area :description, placeholder: 'Compose description for product...', class: 'form-control'
        = f.label :Package
        = f.check_box :package
        = f.label :quantity
        = f.number_field :quantity, placeholder: 'How many it is?', class: 'form-control'
        %session
          = image_tag(@product.picture.url, size: '100x125',alt: 'Icon') if @product.picture? if current_user.admin?
        = f.file_field :picture
        = f.submit class: 'btn btn-primary form-control'


