.container.product-info
  .image-product
    = image_tag(@product.picture.url, alt: @product.name, title: @product.name)
  .content-product
    .h2= @product.name
    .product-author-share
      %label Tác giả:
      = link_to @product.author
      %br
      %label Nhà phát hành:
      = link_to @product.publisher
      %br
      %label Tags:
      - @product.categories.each do |f|
        = link_to f.name
      %hr
      %label Description:
      .description
        = @product.description
      %br
      .sub-title Thông tin kèm theo
      %ul.info-logistic
        - if @product.package == true
          %li
            %strong Có dịch vụ bọc sách plastic cao cấp cho sách này
            =link_to '(Chi tiết )'
        %li
          Miễn phí giao hàng toàn quốc cho Đơn hàng từ 250.000đ (Áp dụng từ 1/2/2015.
          =link_to '(Chi tiết )'
  .form-buy-product
    %h1.title Thông tin thanh toán
    .prices-container
      .price-wrap
        %span.list-price
          %span.list-price-label Giá bìa:
        %span.strike
          - if @product.discount_price.nil?
            %span.list-price.unnowrap= @product.price
            %span.list-price.unnowrap ₫
          - else
            %span.list-price.nowrap= @product.price
            %span.list-price.nowrap ₫
      - if !@product.discount_price.nil?
        .price-wrap
          %span.list-price
            %span.list-price-label Giá bán:
          %span.strike
            %span.list-price.price-num= @product.discount_price
            %span.list-price.price-num ₫
        .price-wrap
          %span.list-price
            %span.list-price-label Tiết kiệm
          %span.strike
            %span.list-price.save-price= @product.price - @product.discount_price
            %span.list-price.save-price ₫
            %span.list-price.save-price (
            %span.list-price.save-price= '%.0f'%((@product.price - @product.discount_price)/@product.price*100)
            %span.list-price.save-price %)
    .box-status
      - if  !@product.quantity.nil? && @product.quantity > 0
        .status
          .product-list-field
            %pan.qty-in-stock Có Hàng
          .product-list-field
            %label Có hàng từ
            %span.qty_expected= @product.created_at.strftime("%d-%m-%Y")
      - else
        .status
          .product-list-field
            %pan.qty-not-in-stock Tạm Hết Hàng
    .buttons-container
      = form_for(:cart,url: carts_path) do |f|
        %span.button-submit-big.button-wrap-right
          = f.label 'số lượng'
          = f.number_field :quantity, min: 1
          = f.hidden_field :customer_id, value: current_customer.id
          = f.hidden_field :product_id, value: @product.id
          = f.submit 'ĐẶT HÀNG TRƯỚC', class: 'btn button-submit'
