.container.product-info
  .image-product
    = image_tag(@product.picture.url, alt: @product.name, title: @product.name)
  .content-product
    .h2= @product.name
    .product-author-share
      %label Tác giả:
      = link_to @product.name
      %br
      %label Nhà phát hành:
      = link_to 'Nhà phát hành'
      %br
      %label Tags:
      - @product.categories.each do |f|
        = link_to f.name
      %hr
      %label Description:
      .description
        = @product.description
      %br
      .sub-title Thông tin kèm theo
      %ul.info-logistic
        %li
          %strong Có dịch vụ bọc sách plastic cao cấp cho sách này
          =link_to '(Chi tiết )'
        %li
          Miễn phí giao hàng toàn quốc cho Đơn hàng từ 250.000đ (Áp dụng từ 1/2/2015.
          =link_to '(Chi tiết )'
  .form-buy-product
    %h1.title Thông tin thanh toán
    .prices-container
      .price-wrap
        %span.list-price
          %span.list-price-label Giá bìa:
        %span.strike
          %span.list-price.nowrap= a =  (@product.price + @product.price * 0.5)
          %span.list-price.nowrap ₫
      .price-wrap
        %span.list-price
          %span.list-price-label Giá bán:
        %span.strike
          %span.list-price.price-num= b = @product.price
          %span.list-price.price-num ₫
      .price-wrap
        %span.list-price
          %span.list-price-label Tiết kiệm
        %span.strike
          %span.list-price.save-price= c = a-b
          %span.list-price.save-price ₫
          %span.list-price.save-price (
          %span.list-price.save-price= '%.0f'%(c/a*100)
          %span.list-price.save-price %)
    .box-status
      .status
        .product-list-field
          %pan.qty-in-stock Sắp Có Hàng
        .product-list-field
          %label Có hàng từ
          %span.qty_expected= Time.now.strftime("%d-%m-%Y")
    .buttons-container
      %span.button-submit-big.button-wrap-right
        = link_to 'ĐẶT HÀNG TRƯỚC', '#', class: 'btn button-submit'
